<h1>Listing memberships</h1>

<table>
  <thead>
    <tr>
      <th>Beer club</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
        <% user = User.find_by(id:membership.user_id) %>
        <% beerclub = BeerClub.find_by(id:membership.beer_club_id)%>
      <tr>
        <td><%= beerclub.name%></td>
        <td><%= user.username %></td>
        <td><%= link_to 'Show', beer_club_path(beerclub) %></td>
        <td><% if user == current_user %><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %> <%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path %>
