<h1>Ratings</h1>
<p>Number of ratings <%=@ratings.count %></p>
<%= render 'top_raters' %>
<div class="row">
    <div class="col-sm-4">
    <h3>Top beers</h3>
    <%= render 'top_list', toplist: @ratings.top_beers%>
     </div>
  <div class="col-sm-4">
    <h3>Top breweries</h3>
    <%= render 'top_list', toplist: @ratings.top_breweries%>
  </div>
  <div class="col-sm-4">
    <h3>Top styles</h3>
    <%= render 'top_list', toplist: @ratings.top_styles%>
  </div>
</div>

<h3>Recent ratings</h3>
<table class="table table-hover">
  <thead>
  <tr>
    <th><%= link_to 'Name', breweries_path(order:"name") %></th>
    <th><%= link_to 'Score', breweries_path(order:"year") %></th>
    <th><%= link_to 'Rater', breweries_path(order:"rater") %></th>
  </tr>
  </thead>

  <tbody>
  <% @recent.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, rating.beer %></td>
        <td><%= rating.score %></td>
        <td><%= rating.user.username %></td>

      </tr>
  <% end %>
  </tbody>
</table>

