<p id="notice"><%= notice %></p>
<h1><%=@place["name"]%></h1>
<p>
  <%= @place["street"] %>
  <%= "#{@place["zip"]} #{@place["city"]}"%>
</p>

<div>
    <object type="text/html" data="<%= @place["blogmap"] %>" width="800px" height="600px">
</object>
</div>